li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.listItem {
  display: flex;
}
.listItem p {
  margin: 20px;
}
button {
  background-color: transparent;
  border: 0;
}
